 .popup {
     width: 100%;
     height: 100%;
     position: fixed;
     left: 0;
     top: 0;
     background-color: transparent;
     z-index: 999;
     transform: translateY(-44.5%) scale(0%);
     transition: .4s ease-in-out;
 }

.popup-body {
    background-color: #F3F3F3;
    border: 2px solid #111111;
    border-radius: 18px;

    @media screen and (max-width: 767px) {
        width: 335px;
        padding: 50px 20px 40px 20px;

    }
}

 .popup.active {
     background-color: #4F2EE8;
     transform: translateY(0%) scale(100%);
 }

 .popup-container {
     display: flex;
     width: 100%;
     height: 100%;
 }

 .popup-body {
     margin: auto;
     width: 580px;
     text-align: center;
     padding: 80px 15px 50px 15px;
     position: relative;

     @media screen and (max-width: 767px) {
         width: 335px;
         padding: 50px 20px 40px 20px;

     }
 }

 .popup-close {
     position: absolute;
     top: 24px;
     right: 24px;
     font-size: 28px;
     cursor: pointer;

     @media screen and (max-width: 767px) {
         font-size: 20px;
         top: 10px;
         right: 10px;
     }

 }

 .input {
     margin: 0 auto 30px auto;
     width: 500px;
     padding: 20px;
     border: 2px solid #111111;
     border-radius: 40px;
     font-size: 20px;
    
     @media screen and (max-width: 767px) {
         width: 295px;
         padding: 16px;
     }
 }

.button-signup {
    width: 500px;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 30px;
    border-radius: 40px;
    background-color: #111111;
    color: #F3F3F3;
    font-size: 22px;
    cursor: pointer;

    @media screen and (max-width: 767px) {
        width: 295px;
        padding: 16px;
        font-size: 18px;
        margin: 5px auto;
        margin-bottom: 15px;
    }     
}

.button-signup:hover,
.button-signup:focus {
background-color: #111111;
color: #F3F3F3;
}

 .svg-icon {
     position: absolute;
     top: 50%;
     right: 30px;
     transform: translateY(-50%);
     fill: #111111;
     width: 28px;
     height: 26px;

     @media screen and (max-width: 767px) {
         width: 20px;
         height: 20px;
         right: 25px;
         top: 35%;
         transform: translateY(-50%);
     }
 }

 .lebel {
     position: relative;
     margin-top: 4px;
     align-items: center;
     justify-content: center;
    
     @media screen and (max-width: 767px) {
         display: flex;
        }
 }

 .contact-form {
     margin: 0;
 }

 .link-wrapper {
     margin-top: 10px;
 }

 .link-signup {
     color: rgba(27, 26, 26, 0.5);
     margin-right: 30px;
     font-size: 22px;
     font-weight: 700;

     @media screen and (max-width: 767px) {
         font-size: 18px;
     }
 }

 ::placeholder {
     font-size: 20px;
     color: #111111;
     font-weight: 500;

     @media screen and (max-width: 767px) {
         font-size: 16px;
     }
 }

 .link-signup:hover,
 .link-signup:focus {
     color: #4F2EE8;
 }
    
 .link-signup.current {
     color: #4F2EE8;
     text-decoration: underline;
 }


