/* =============== Базове оформлення (загальне для всіх) =============== */

:root {
  --color-black: #111111;
  --color-dark: #202024;
  --color-gray: rgba(17, 17, 17, 0.6);
  --color-light-gray: #B4AFAF;
  --color-violet: #4f2ee8;
  --color-orange: #eac645;
  --color-white: #ffffff;

  --transition-rule: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-modal-window: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 375px;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--color-black);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #000000;
}

button {
  display: inline-block;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =============== Базові розміри контейнерів (загальні для всіх) =============== */

.container {
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 24px;
  }
}

/* =============== Розмітка головної сторінки (Mobile/Tablet/Desktop) =============== */

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-content {
  height: 64px;
}

@media (min-width: 768px) {
  .header-content {
    height: 72px;
  }
}

.categories-support-books-wrapper {
  padding-top: 104px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .categories-support-books-wrapper {
    padding-top: 112px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1440px) {
  .categories-support-books-wrapper {
    display: flex;
    gap: 0 40px;
    padding-bottom: 72px;
  }
}

@media (min-width: 768px) {
  .categories-support-wrapper {
    display: flex;
    gap: 0 32px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1440px) {
  .categories-support-wrapper {
    flex-direction: column;
    gap: 86px 0;
    padding: 0;
  }
}

.categories-list {
  margin-bottom: 40px;
  height: 228px;
}

@media (min-width: 768px) {
  .categories-list {
    margin: 0;
    width: 337px;
    height: 472px;
  }
}

@media (min-width: 1440px) {
  .categories-list {
    width: 356px;
    height: 472px;
  }
}

.support-ukraine {
  margin-bottom: 40px;
  height: 352px;
}

@media (min-width: 768px) {
  .support-ukraine {
    margin: 0;
    width: 335px;
    height: 472px;
  }
}

@media (min-width: 1440px) {
  .support-ukraine {
    width: 356px;
    height: 490px;
  }
}
