.books-content {
  margin-bottom: 80px;
}

.books-all-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--color-black);
}
.colortext {
  color: var(--color-violet);
}
.books-all-menu {
  margin-top: 40px;
  margin-bottom: 18px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-gray);
}
.books-info {
  margin-top: 14px;
  margin-bottom: 8px;
  gap: 4px;
}

.info-item {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
  list-style-position: outside;
}
.info-detail-item {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: var(--color-gray);
}
.see-more {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 14px 26px;
  gap: 10px;
  width: 124px;
  height: 46px;
  border: 2px solid var(--color-violet);
  border-radius: 40px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-black);
  
}
.loading {
  text-align: right;
}
.books-all-image {
  width: 335px;
  height: 485px;
}

// .books-all-overlay {
//   position: relative;
//   overflow: hidden;
// }
// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 70px;
//   overflow-y: auto;
//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.29;
//   letter-spacing: -0.04em;
//   text-transform: uppercase;
//   color: var(--color-black);
//   background-color: var(--color-orange);
//   padding-left: 52px;
//   padding-right: 26px;
//   padding-top: 52px;
//   padding-bottom: 26px;
// }
@media (min-width: 768px) { 
.books-all-image {
  width: 218px;
  height: 316px;
}
.books-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.books-all-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% / 3) - 50px);
}
}

@media (min-width: 1440px) {
.books-all-image {
  width: 180px;
  height: 256px;
}
.books-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
}

