.books-genre-title {
  font-family: 'DM Sans';
  font-style: normal;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--color-black);
}

.books-genre-title-attribute {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--color-violet);
}

.books-card-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
}

.books-card-autor {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: var(--color-gray);
}

.books-card-title-img {
  width: 100%;
  height: 485px;
  cursor: pointer;
}

.books-card-info {
  padding-top: 14px;
  padding-bottom: 8px;
  margin-bottom: 40px;
  gap: 4px;
}

.books-card {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  transition: var(--transition-rule);
}

.books-card > img {
  display: block;
}

.quick-view {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-orange);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  transform: translateY(100%);
  transition: transform var(--transition-rule);
}
.books-card:hover{
  -webkit-box-shadow: 0px -10px 24px -8px rgba(5, 17, 250, 0.75);
    -moz-box-shadow: 0px -10px 24px -8px rgba(5, 17, 250, 0.75);
    box-shadow: 0px -10px 24px -8px rgba(5, 17, 250, 0.75);
    transition: var(--transition-rule);
}
.books-card:hover .quick-view {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .books-genre-card-container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    margin: 0 auto;
  }
  .books-card-title-img {
    width: 100%;
    height: 316px;
  }
  .books-genre-title {
    font-size: 48px;
    line-height: 1.09;
  }
  .books-genre-title-attribute {
    font-size: 48px;
    line-height: 1.09;
  }
}
@media (min-width: 1440px) {
  .books-genre-card-container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 40px;
    margin: 0 auto;
  }
  .books-card-title-img {
    width: 100%;
    height: 256px;
  }
  .books-genre-title {
    font-size: 48px;
    line-height: 1.09;
  }
  .books-genre-title-attribute {
    font-size: 48px;
    line-height: 1.09;
  }
}
// перемикання на theme-dark
.theme-dark .books-genre-title {
  color: var(--color-white);
}
.theme-dark .books-genre-title-attribute {
  color: var(--color-violet);
}
.theme-dark .books-card-title {
  color: var(--color-white);
}
.theme-dark .books-card-autor {
  color: var(--color-light-gray);
}
.theme-dark .books-card:hover {
  -webkit-box-shadow: 0px -10px 24px -8px rgba(227, 215, 41, 0.75);
  -moz-box-shadow: 0px -10px 24px -8px rgba(227, 215, 41, 0.75);
  box-shadow: 0px -10px 24px -8px rgba(227, 215, 41, 0.75);
  transition: var(--transition-rule);
}