.books-genre-title {
  font-family: 'DM Sans';
  font-style: normal;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--color-black);
}

.books-genre-title-attribute {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--color-violet);
}

.books-card-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
}

.books-card-autor {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: var(--color-gray);
}

.books-card-title-img {
  max-width: 335px;
  height: 485px;
  border-radius: 8px;
}

.books-card-info {
  padding-top: 14px;
  padding-bottom: 8px;
  margin-bottom: 40px;
  gap: 4px;
}

@media (min-width: 768px) {
  // .books-genre-card-conteiner {
  //   display: flex;
  //   gap: 25px;
  // }
  .books-card-title-img {
    width: 218px;
    height: 316px;
  }
}
@media (min-width: 1440px) {
  // .books-genre-card-conteiner {
  //   display: flex;
  //   gap: 24px;
  // }
  .books-card-title-img {
    width: 180px;
    height: 256px;
  }
}
