.books-content {
  margin-bottom: 40px;
  max-width: 335px;
}

.books-all-title {
  margin-bottom: 40px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--color-black);
}
.colortext {
  color: var(--color-violet);
}
.books-all-menu {
  margin-bottom: 18px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light-gray);
}
.books-info {
  margin-top: 14px;
  gap: 4px;
}

.info-item {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
  max-width: 335px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-detail-item {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: var(--color-gray);
}
.see-more {
  margin-bottom: 40px;
  padding: 14px 26px;
  width: 124px;
  height: 46px;
  border: 2px solid var(--color-violet);
  border-radius: 40px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-black);
}
.loading {
  text-align: right;
}
.books-all-image {
  width: 335px;
  height: 485px;
  cursor: pointer;
}
.books-all-item {
  margin-bottom: 8 px;
}
.books-all-wrapp {
  position: relative;
  display: inline-block;
}
.books-all-wrapp > img{
  display: block;
}
.books-all-wrapp:before{
  content:'';
  position: absolute; bottom: 0; left: 0;
  width: 100%;
  height: 0;
  background: var(--color-orange);;
  transition: height .3s ease;
}
.books-all-wrapp:hover:before{
  height: 70px;
}
.overlay {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .5s ease;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
  
  cursor: pointer;
}
.overlay:hover{
  opacity: 1;
  top:50%
}
@media (min-width: 768px) { 
  .books-content {
    max-width: 704px;
  }
  .books-all-image {
    width: 218px;
    height: 316px;
  }
  .books-all {
    display: flex;
  }
  .books-all-item {
   margin-right: 25px;
   margin-bottom: 20px;
  }
  .info-item {
    max-width: 218px;
  }
}

@media (min-width: 1440px) {
  .books-content {
    max-width: 996px;
  }
  .books-all-image {
    width: 180px;
    height: 256px;
  }
  .books-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .books-all-item {
    margin-right: 24px;
    margin-bottom: 32px;
   }
  .info-item {
    max-width: 180px;
  }
}

/* dark theme  */
.theme-dark .books-all-title {
  color: var(--color-white);
}
.theme-dark .books-all-menu {
  color: var(--color-light-gray);
}
.theme-dark .info-item {
  color: var(--color-white);
  
}
.theme-dark .info-detail-item {
  color: var(--color-light-gray);
} 
  
.theme-dark .see-more {
  color: var(--color-white);
  background-color: var(--color-dark);
}

