.categories-list {
  overflow: scroll;
}

.categories-list {
  // border: 1px solid red;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  // color: rgba(17, 17, 17, 0.6);
  color:#1119;
}

.category-li {
  margin-top: 24px;
}
.upper-case{
  text-transform: uppercase;
  color: blue;
}