/*******theme-dark*******/

body.theme-dark > header.page-header {
  color: rgba(255, 255, 255, 0.6);
  background: var(--color-dark);
}
body.theme-dark > header.page-header > div.header-content {
  color: rgba(255, 255, 255, 0.6);
  background: var(--color-dark);
  border: 1.5px solid #ffffff;
}

body.theme-dark .header-logo-name {
  fill: var(--color-white);
}


// .theme-dark .icon-menu-burger {
//   fill: var(--color-white);
// }
.header-menu-open {
  fill: var(--color-black);
}

// .hamburger {
//   position: fixed;
//   z-index: 100;
//   top: 1rem;
//   right: 1rem;
//   padding: 4px;
//   border: black solid 1px;
//   background: white;
//   cursor: pointer;
// }

.header-menu-closed {
  display: none;
}

.header-menu {
  z-index: -10;
  top: 60px;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 374px;
  height: 812px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

// .theme-dark.header-logo-name {
//   background: url(../images/sprite-header.svg#icon-Bookshelf-1);

//   background-image: url(../images/sprite-header.svg#icon-Bookshelf-1);
// }

// body.theme-dark > header.page-header > div.header-nav > a.header-shopping {
//   fill: #f3f3f3;
//   color: rgba(255, 255, 255, 0.6);
//   background-color: #4f2ee8;
// }

/******* header-mobile-menu*******/
// .menu-container {
//   width: 100vw;
//   height: 100%;
//   flex-direction: column;
//   margin: 0 auto;

//   display: flex;
//   position: relative;
// }
.header-menu-closed,
.header-menu-open {
  z-index: 100;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

// @media screen and (max-width: 768px) {
//   .header-menu-open {
//     display: none;
//   }
//   //  display: none;
// }

// .form-check > button.header-menu-open:relative {
//   background-image: url('/src/images/sprite-header.svg#icon-align-left');
//   display: none;
// }
// .form-check > button.header-menu-closed:active {
//   display: none;
// }
// .form-check > button.header-menu-open:relative {
//   background-image: url('/src/images/sprite-header.svg#icon-align-left');
//   display: none;
// }

// .icon-sign {
//   fill: #5046e5;
// }

/******* header-mobile-menu*******/

.page-header {
  z-index: 50;
  background: var(--color-white);
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
.header-content {
  // position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 8px 8px;
  background: var(--color-white);
  border: 1.5px solid #111111;
}
.logo {
  margin: 0;
  padding: 0;
  fill: var(--color-black);
}

.logo-bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;

}
.form-check {
  margin: 0;
  padding: 0;
  gap: 14px;
  display: flex;
  align-items: center;
}
//
.ui-switcher {
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  display: inline-block;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  transition: border-color 0.25s;

  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.ui-switcher[aria-checked='true'] {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}
.ui-switcher:after {
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  content: '\0020';
  display: inline-block;
  position: absolute;
  top: 1px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  transition: left 0.25s;
}
.ui-switcher[aria-checked='false']:after {
  left: 1px;
}
.ui-switcher[aria-checked='true']:after {
  left: 21px;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
  .header-sign-btn,
  .header-sign-open {
    display: none;
  }
}

/******* header tablet min-width:768 *******/


.header-home-on {
  z-index: 15;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  border: none;
  width: 72px;
  height: 34px;
  margin-right: 16px;
  background: var(--color-orange);
  border-radius: 36px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
}

.header-home-off {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 0;
  gap: 10px;
  border: none;
  width: 40px;
  height: 34px;
  margin-right: 24px;
  background: none;
  border-radius: 36px;
  font-family: 'DM Sans';
  font-style: Medium;

  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
}
// .header-home-on::after {
//   content: var(--color-dark);

// }

// .header-home-on::after {
//   content:' ';

// }


.header-shopping-on {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  padding: 7px 16px;
  gap: 8px;
  border: none;
  width: 156px;
  height: 34px;
  background: var(--color-orange);
  border-radius: 36px;

  display: flex;
  align-items: center;
  color: #111111;
}

.header-shopping-off {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  gap: 8px;
  border: none;
  width: 156px;
  height: 34px;
  background: none;
  border-radius: 36px;
  padding: 0;

  display: flex;
  align-items: center;
  color: var(--color-black);
}

.btn.active {
  z-index: 15;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  border: none;
  width: 72px;
  height: 34px;
  margin-right: 16px;
  background: var(--color-orange);
  border-radius: 36px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
}




// .header-sign-open-menu,

.header-sign-open-menu,
.header-sign-open {
  width: 184px;
  height: 48px;
  left: 0px;
  top: 0px;

  background: var(--color-violet);
  border: 1.5px solid #111111;
  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-sign-menu,
.header-sign {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  padding-top: 14px;
  padding-right: 0;
  padding-bottom: 14px;
  padding-left: 14px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-sign-open-menu {
  position: absolute;
  top: 104px;
  left: 20px;
}

.icon-sign {
  margin-right: 14px;
}
.img-mobile-menu {
  position: absolute;
  display: block;
  top: 443px;
  left: 0;
}

// <!-- mobil menu HOME & SHOPPING-->
@media screen and (min-width: 768px) and (max-width: 1440px) {
  
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-content {
    padding: 0 32px;
    height: 72px;
    justify-content: stretch;
  }
  .logo {
    margin-right: 40px;
  }

  .icon-menu-burger,
  .header-menu-closed {
    display: none;
  }

  .header-menu-open {
    display: none;
  }

  .form-check {
    margin-left: auto;
    margin-right: 24px;
  }
}

/******* header desktop min-width:1440px *******/

@media screen and (min-width: 1440px) {
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-menu-closed,
  .header-menu-open {
    display: none;
  }

  .header-content {
    padding: 0 24px;
    justify-content: stretch;
  }
  .logo {
    margin-right: 76px;
  }
  .header-home-btn {
    margin-right: 24px;
  }

  .form-check {
    margin-left: auto;
    margin-right: 24px;
  }
}
