.shopping-list-container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 335px;
}
.shopping-list-title {
  font-family: "DM Sans";
  color: var(--color-black);
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 auto;
  margin-bottom: 40px;
  text-decoration: none;
}
.list-title {
  color: var(--color-violet);
}
.shopping-list-empty {
 display: grid;
 align-items: center;
 justify-content: center;
  padding-top: 80px;
}
.shopping-list-empty-img {
  width: 265px;
  display: block;
  margin: 0 auto;
}

.shopping-list-img {
  width: 100px;
  display: block;
  margin-right: 14px;
}
.shopping-list-empty-message {
  width: 244px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 14px;
}
.shopping-list-filled {
  display: none;
}
.book-card:not(:last-child) {
  margin-bottom: 20px;
}
.shopping-list {
  margin-bottom: 20px;
}

.book-card {
  background: #ffffff;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  margin: 0 auto;
  width: 335x;
  padding: 14px;
  display: flex;
}
.first-info-div {
  display: flex;
  margin-bottom: 8px;
}
.book-img {
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

.book-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 4px;
}
.book-category {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #b4afaf;
}
.remove-book {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #4f2ee8;
  transition: all var(--transition-rule)
}
.trash-icon {
  fill: #ffffff;
  pointer-events: none;
}
.info {
  min-width: 193px;
  width: 100%;
  max-height: 142px;
  display: flex;
  flex-direction: column;
}
.second-info-div {
  margin-bottom: auto;
}
.book-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
}
.third-info-div {
  display: flex;
  margin-bottom: 0;
  align-items: end;
}
.book-author-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
.shop-list-div {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
.shop-list {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.shop-icon {
  filter: grayscale(100%);
}
.shop-item {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* dark theme  */

.theme-dark .shopping-list-title {
  color: var(--color-white);
}
.theme-dark .list-title {
  color: var(--color-violet);
}

.theme-dark .shopping-list-container {
  background-color: var(--color-dark);
}
.theme-dark .shopping-list-empty-message {
  color: var(--color-white);
}
.theme-dark .book-card {
  background: var(--color-black);
}

.theme-dark .book-name {
  color: var(--color-white);
}
.theme-dark .book-description {
  color: var(--color-white);
}
.theme-dark .amazon-icon {
  filter: invert(100%) grayscale(100%);
}

.pagination {
  display: flex;
    gap: 5px;
    justify-content: center;
}
.page-link, .prevClass, .firstClass, .nextClass, .lastClass {
  width: 38px;
  height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #111111;
}

.firstClass, .prevClass {
  background: var(--color-black);
  color: #B4AFAF;;
}
.nextClass, .lastClass {
  background-color: #EAC645;
}

.page-link:hover, .remove-book:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-color: var(--color-violet);
  color: var(--color-violet);
  transition: all var(--transition-rule)
}

.page-link:active, .remove-book:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-color: var(--color-violet);
  color: var(--color-violet);
  transition: all var(--transition-rule)
}
.theme-dark .page-link{
  background-color: var(--color-black);
  color: var(--color-white);
}
.page-link.active{
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all var(--transition-rule)
}
.theme-dark .page-link.active {
  background-color: var(--color-white);
  color: var(--color-black);
}
.theme-dark .nextClass,
.theme-dark .lastClass {
  background: #EAC645;
  color: #111111;
}
@media screen and (min-width: 480px) {
}
@media screen and (max-width: 768px) {
  .shop-item {
    display: flex;
    width: 16px;
    height: 16px;
  }
  .shop-item:first-child {
    width: 32px;
    height: 11px;
  }
}
@media screen and (min-width: 768px) {
  .shopping-list-container {
    width: 704px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .shopping-list-empty {
    padding-top: 120px;
  }
  .shopping-list-empty-message {
    width: 349px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .shopping-list-empty-img {
    width: 322px;
  }
  .shopping-list-title {
    font-size: 48px;
    line-height: 52px;
    text-align: left;
  }
  .book-card {
    margin-left: 0;
    width: 704px;
    padding: 24px;
  }
  .shopping-list-img {
    width: 116px;
    display: block;
    margin-right: 24px;
  }
  .book-img {
    width: 116px;
    height: 165px;
  }
  .info {
    max-height: 165px;
  }
  .remove-book {
    width: 34px;
    height: 34px;
  }
  .trash-icon {
    width: 18px;
    height: 18px;
  }
  .first-info-div {
    margin-bottom: 14px;
  }
  .book-description {
    max-width: 508px;
  }
  .shop-list {
    gap: 16px;
  }
  .shop-icon {
    width: 28px;
    height: 27px;
  }
  .amazon-icon {
    width: 48px;
    height: 15px;
  }
  .book-shop-icon {
    width: 32px;
    height: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .shopping-list-container {
    width: 996px;
  }
  .book-card {
    width: 996px;
  }
  .book-description {
    max-width: 808px;
  }
  .shop-list {
    gap: 8px;
  }
}
