p {
    padding: 0;
    margin: 0;
  }
  .shopping-list-container {
    padding: 40px 20px;
  }
  .shopping-list-title {
    font-family: "DM Sans";
    color: var(--color-black);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    max-width: 193px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-decoration: none;
  }
  .list-title {
    color: var(--color-violet);
  }
  .shopping-list-empty {
    padding: 80px 55px 262px 55px;
  }
  .shopping-list-empty-message {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 14px;
  }
  .shopping-list-filled {
    display: none;
  }
  .book-card:not(:last-child) {
      margin-bottom: 20px;
  }
  
  .shopping-list-img {
    width: 100px;
    display: block;
  }
  .book-card {
    background: #ffffff;
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
    margin: 0 auto;
    max-width: 303px;
    padding: 14px;
    display: flex;
  }
  .first-info-div {
    display: flex;
    margin-bottom: 8px;
  }
  .book-img {
    display: block;
    width: 100px;
    border-radius: 8px;
  }
  .shopping-list-img {
    margin-right: 14px;
  }
  .book-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 4px;
  }
  .book-category {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #b4afaf;
  }
  .remove-book {
    width: 28px;
    height: 28px;
    
    border-radius: 50%;
    margin-left: 51px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #4f2ee8;
    
  }
  .trash-icon {
    width: 16px;
    height: 16px;
    fill: #ffffff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
      pointer-events: none;
      
  }
  .info {
    max-width: 193px;
  }
  .second-info-div {
    margin-bottom: 16px;
  }
  .book-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .third-info-div {
    display: flex;
    max-width: 193px;
  }
  
  .shop-list {
    list-style: none;
    display: flex;
    gap: 8px;
  }
  .shop-icon:first-child {
    width: 32px;
    height: 11px;
  }
  .shop-icon:not(:last-child){
    width: 16px;
    height: 16px;
  }
  @media screen and (min-width: 480px) {
  }
  
  @media screen and (min-width: 768px) {
  }
  
  @media screen and (min-width: 1440px) {
  }
  