<div class="popup" id="popup-2">
    <div class="popup-container" id="popup-container-2">
      <div class="popup-body" id="popup-body-2">
          <form class="contact-form" id="auth-form-2">
            <label class="lebel">
              <input
                type="email"
                id="email-2"
                name="email"
                placeholder="EMAIL"
                class="input"
                pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                title="Please, write your email"
                aria-label="email"
                required
              />
              <img class="svg-icon" src="/src/images/mail.authorization.svg" alt="Иконка почты">
            </label>
            <label class="lebel">
              <input
                type="password"
                id="password-2"
                name="password"
                placeholder="PASSWORD"
                class="input"
                minlength="4"
                title="The password length must be not less thn 4"
                required
              />
              <img class="svg-icon" src="/src/images/key.authorization.svg" alt="Иконка пароля">
            </label>
            <button class="button-signup">SIGN IN</button><br />
            <div class="link-wrapper">
             <a href="#" class="link-signup" id="switch-button-2">SIGN UP</a>
             <a href="#" class="link-signup current">SIGN IN</a>
            </div>
          </form>

          <div class="popup-close" id="popup-close-2">&#10006
          </div>
      </div>
    </div>
  </div>
<script src="/src/js/auth-forms.js" type="module"></script>
<script src="/src/js/authorization.js" type="module"></script>
