   <div class="popup" id="popup-1">
    <div class="popup-container" id="popup-container-1">
      <div class="popup-body" id="popup-body-1">

          <form class="contact-form" id="auth-form-1">
            <!-- <form class="contact-form" onsubmit=""> -->
            <label class="lebel">
              <input
                type="text"
                id="name-1"
                name="name"
                placeholder="NAME"
                class="input"
                minlength="2"
                title="Please, write your name and surname"
                aria-label="name"
                required
              />
            </label>
            <label class="lebel">
              <input
          
                type="email"
                id="email-1"
                name="email"
                placeholder="EMAIL"
                class="input"
                pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                title="Please, write your email"
                aria-label="email"
                required
              />
              <img class="svg-icon" src="/src/images/mail.authorization.svg" alt="Иконка почты">
            </label>
            <label class="lebel">
              <input
                type="password"
                id="password-1"
                name="password"
                placeholder="PASSWORD"
                class="input"
                minlength="4"
                title="The password length must be not less thn 4"
                required
              />
              <img class="svg-icon" src="/src/images/key.authorization.svg" alt="Иконка пароля">
            </label>
            <button type="submit" class="button-signup">SIGN UP</button><br />
            <div class="link-wrapper">
             <a href="#" class="link-signup current">SIGN UP</a>
             <a href="#" class="link-signup" id="switch-button-1">SIGN IN</a>
            </div>
          </form>

          <div class="popup-close" id="popup-close-1">&#10006
          </div>
      </div>
    </div>
  </div>
<script src="/src/js/auth-forms.js" type="module"></script>
<script src="/src/js/authorization.js " type="module"></script>
<!-- <script src="/src/js/firebase.js" type="module"></script> -->
