<section class="books-genre">
  <div class="book-content">
    <!-- <h1 class="books-genre-title">Hardcover <span class="books-genre-title-attribute">Nonfiction</span></h1>
    <ul class="books-genre-card-conteiner"> -->

      <!-- <li class="books-genre-item">
        <a href="#" class="books-genre-link" rel=" " data-id=" ">
          <div class="books-card">
            <img class="books-card-title-img" src=" " alt="OUTLIVE" width="" height="" loading="lazy">
          </div>
          <div class="books-card-info">
            <h3 class="books-card-title">OUTLIVE</h3>
            <p class="books-card-autor">PETTER ATTIA WITH BILL...</p>
          </div>
        </a> 
      </li> -->
      
      <!-- <li class="books-genre-item">
        <a href="#" class="books-genre-link" rel=" " data-id=" ">
          <div class="books-card">
            <img class="books-card-title-img" src=" " alt="POVERTY, BY AMERICA" width="" height="" loading="lazy">
          </div>
          <div class="books-card-info">
            <h3 class="books-card-title">POVERTY, BY AMERICA</h3>
            <p class="books-card-autor">Matthew Desmond</p>
          </div>
        </a> 
      </li> -->
<!--       
      <li class="books-genre-item">
        <a href="#" class="books-genre-link" rel=" " data-id=" ">
          <div class="books-card">
            <img class="books-card-title-img" src=" " alt="I'M GLAD MY MOM DIED" width="" height="" loading="lazy">
          </div>
          <div class="books-card-info">
            <h3 class="books-card-title">I'M GLAD MY MOM DIED</h3>
            <p class="books-card-autor">Quick view</p>
          </div>
        </a> 
      </li> -->
      
      <!-- <li class="books-genre-item">
        <a href="#" class="books-genre-link" rel=" " data-id=" ">
          <div class="books-card">
            <img class="books-card-title-img" src=" " alt="SPARE" width="" height="" loading="lazy">
          </div>
          <div class="books-card-info">
            <h3 class="books-card-title">SPARE</h3>
            <p class="books-card-autor">Prince Harry</p>
          </div>
        </a> 
      </li> -->
<!-- 
      <li class="books-genre-item">
        <a href="#" class="books-genre-link" rel=" " data-id=" ">
          <div class="books-card">
            <img class="books-card-title-img" src=" " alt="SAVED" width="" height="" loading="lazy">
          </div>
          <div class="books-card-info">
            <h3 class="books-card-title">SAVED</h3>
            <p class="books-card-autor">Quick view</p>
          </div>
        </a> 
      </li> -->
    <!-- </ul> -->
  </div>
</section>
