<section class="books-all">
  <h2 class="books-all-title">Best Sellers Books</h2>
  <div class="books-content">
    <ul class="books-all">
      <h3 class="books-all-menu">COMBINED PRINT AND E-BOOK FICTION</h3>
      <li class=" books-all-item">
        <a class="books-all-link" href="#" data-modal-open data-id=" ">
          <img class="books-all-image" src=" " alt=" " loading="lazy">
          <div class="info">
            <h4 class="info-item">I WILL FIND YOU</h4>
            <p class="info-detail-item">Harlan Coben</p>
          </div>
          <div class="book-all-button">
            <button class="see-more" data-action="" id="">SEE MORE</button>
          </div>
        </a>
      </li>
      <h3 class="books-all-menu">COMBINED PRINT & E-BOOK NONFICTION</h3>
      <li class="books-all-item">
        <a class="books-all-link" href="#" data-modal-open data-id=" ">
          <img class="books-all-image" src=" " alt=" " loading="lazy">
          <div class="info">
            <h4 class="info-item">SAVED</h4>
            <p class="info-detail-item">Benjamin Hall</p>
          </div>
          <div class="book-all-button">
            <button class="see-more" data-action="" id="">SEE MORE</button>
          </div>
        </a>
      </li>
      <h3 class="books-all-menu">HARDKOVER FICTION</h3>
      <li class=" books-all-item">
        <a class="books-all-link" href="#" data-modal-open data-id=" ">
          <img class="books-all-image" src=" " alt=" " loading="lazy">
          <div class="info">
            <h4 class="info-item">STORM WATCH</h4>
            <p class="info-detail-item">C.J.Box</p>
          </div>
          <div class="book-all-button">
            <button class="see-more" data-action="" id="">SEE MORE</button>
          </div>
        </a>
      </li>
      <h3 class="books-all-menu">HARDCOVER NONFICTION</h3>
      <li class=" books-all-item">
        <a class="books-all-link" href="#" data-modal-open data-id=" ">
          <img class="books-all-image" src=" " alt=" " loading="lazy">
          <div class="info">
            <h4 class="info-item">PARIS</h4>
            <p class="info-detail-item">Paris Hilton</p>
          </div>
          <div class="book-all-button">
            <button class="see-more" data-action="" id="">SEE MORE</button>
          </div>
        </a>
      </li>
    </ul>

  </div>
</section>
