<section class="books-genre">
  <div class="book-content">
    <!-- === BOOKS ALL SECTION / BOOKS GENRE SECTION === Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Dolore tenetur beatae quasi blanditiis
    incidunt, aliquam temporibus similique, quisquam ipsum magni at deleniti qui
    quod aliquid odit totam. Tempore voluptas nihil, itaque illum assumenda
    asperiores ut error architecto at iure! Quis repellat natus, qui error ex
    corporis esse nam officiis nobis! Id enim est maxime voluptas perspiciatis
    consequuntur deleniti nisi. Similique beatae sit nobis voluptatem id eos
    veritatis perferendis neque aliquid, illum autem. Impedit veniam perferendis
    illum eius rerum. Temporibus excepturi exercitationem veritatis fugiat, quam
    vitae illum esse culpa dolores cumque voluptate deleniti et sit iste
    similique unde quod earum quis? Atque molestias aliquid odit iste voluptatum
    dolores et iure unde culpa alias, enim sapiente nam quaerat nemo placeat
    omnis ut laboriosam vel eum suscipit! Illo velit aperiam aut et consequatur
    vel ad eveniet iste autem obcaecati sequi voluptatibus qui architecto, earum
    vitae itaque debitis cupiditate, commodi ducimus, libero perspiciatis! Sed,
    quas repellendus? Quos consequuntur sunt exercitationem, placeat quaerat
    cumque fugiat, provident facere asperiores, repudiandae neque? Vero eveniet
    neque quas recusandae molestias perspiciatis soluta fugiat. Adipisci
    consequuntur vero impedit animi velit, labore assumenda, dolor illo
    reprehenderit nostrum praesentium accusantium mollitia repudiandae
    temporibus obcaecati et vel voluptate. Libero ea dignissimos nemo nulla
    molestiae ducimus delectus voluptatem mollitia cumque reprehenderit sunt hic
    explicabo, aperiam voluptatibus minus ratione facilis perspiciatis
    reiciendis veritatis nostrum excepturi natus amet esse possimus! Nesciunt
    minima sit, illo eius atque aut cumque unde magni doloribus facilis nemo
    veniam nostrum repellendus rerum laboriosam blanditiis enim illum deleniti
    quisquam omnis incidunt! Consequatur odit dicta quod fugit? Quibusdam rem
    alias, quis consequatur at cum illo incidunt quod sequi quas blanditiis aut
    iure excepturi nulla eos nihil animi eum. Dolore, delectus sapiente odit
    eaque, soluta in enim ipsam praesentium eveniet, earum non excepturi ducimus
    rerum quia placeat beatae. Natus placeat facilis quibusdam nam animi minus
    doloremque aut! Mollitia aut quos dolorem corporis adipisci magni, sapiente
    tempora quisquam modi deserunt aperiam nihil similique corrupti dicta
    pariatur. Minus adipisci debitis perferendis dolor eos temporibus,
    voluptatum, accusantium at iste provident ab officiis delectus nisi vero
    quia! Architecto quam alias velit vero sint saepe maiores aliquid accusamus
    perferendis illo optio nemo, dolores repellat, fugiat excepturi nesciunt
    ipsa ad ipsum. Ipsum totam placeat fuga voluptates aperiam, veritatis
    corporis ipsam similique ut nostrum corrupti natus, ad nulla earum
    accusantium delectus deleniti optio maxime sunt excepturi nesciunt quo porro
    assumenda distinctio! Sit voluptatem porro exercitationem perferendis animi
    ex atque inventore molestias. -->
  </div>
</section>
