<section class="books-all">
  <h2 class="books-all-title">Best Sellers <span class="colortext">Books</span></h2>
  <div class="books-content container">
    <ul class="books-all">
      <li class="books-all-item">
        <h3 class="books-all-menu">COMBINED PRINT AND E-BOOK FICTION</h3>
        <a class="books-all-link" href="#" data-modal-open data-id=" ">
          <img class="books-all-image" src="https://cdn2.penguin.com.au/covers/original/9781529135510.jpg " alt="I WILL FIND YOU" loading="lazy">
          <div class="books-info">
            <p class="info-item">I WILL FIND YOU</p>
            <p class="info-detail-item">Harlan Coben</p>
          </div>
        </a>
      </li>
      <button class="see-more" type="button">SEE MORE</button>
      <li class="books-all-item">
        <h3 class="books-all-menu">COMBINED PRINT & E-BOOK NONFICTION</h3>
        <a class="books-all-link" href="#" data-modal-open data-id=" ">
          <img class="books-all-image" src=" " alt=" " loading="lazy">
          <div class="info">
            <h4 class="info-item">SAVED</h4>
            <p class="info-detail-item">Benjamin Hall</p>
          </div>
        </a>
      </li>
      <button class="see-more" type="button">SEE MORE</button>
      <li class="books-all-item">
        <h3 class="books-all-menu">HARDKOVER FICTION</h3>
        <a class="books-all-link" href="#" data-modal-open data-id=" ">
          <img class="books-all-image" src=" " alt=" " loading="lazy">
          <div class="info">
            <h4 class="info-item">STORM WATCH</h4>
            <p class="info-detail-item">C.J.Box</p>
          </div>
        </a>
      </li>
      <button class="see-more" type="button">SEE MORE</button>
      <li class="books-all-item">
        <h3 class="books-all-menu">HARDCOVER NONFICTION</h3>
        <a class="books-all-link" href="#" data-modal-open data-id=" ">
          <img class="books-all-image" src=" " alt=" " loading="lazy">
          <div class="info">
            <h4 class="info-item">PARIS</h4>
            <p class="info-detail-item">Paris Hilton</p>
          </div>
        </a>
      </li>
      <button class="see-more" type="button">SEE MORE</button>
    </ul>
  </div>
</section>
