<section class="categories-list">
  <div class="categories-list-content">
    === CATEGORIES LIST SECTION === Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Mollitia provident aut laudantium iste saepe veritatis
    qui! Vitae animi praesentium molestias voluptatem earum quidem magnam.
    Eveniet modi ullam cum sint pariatur tempora necessitatibus saepe, fuga quam
    quos doloremque voluptas iste accusamus dicta culpa nihil perspiciatis fugit
    aspernatur ab repellendus, in vero praesentium? Laborum debitis dolore
    doloribus reprehenderit modi, libero, odit, non repudiandae quos deserunt
    ut? Earum cum pariatur alias tenetur, est at ab! Ut natus deserunt iusto
    hic, delectus accusamus pariatur suscipit.
  </div>
</section>
