<header class="page-header">
  <div class="container header-content">
    <!--logo-->
    <div class="logo">
      <a href="/src/index.html" class="logo-bookshelf">
        <svg
          class="header-logo"
          width="24"
          height="24"
          aria-label="logo bookshelf"
        >
          <use href="/src/images/sprite-header.svg#icon-logo"></use>
        </svg>
        <svg
          class="header-logo-name"
          width="77"
          height="14"
          aria-label="logo name"
        >
          <use href="/src/images/sprite-header.svg#icon-Bookshelf-1"></use>
        </svg>
      </a>
    </div>

    <!--nav menu -->

    <div class="header-nav">
      <!-- <a href="./index.html" class="header-home-off header-home-on btn">Home</a> -->
      <a href="./index.html" class="header-home-btn active" data-home-btn data-sign-advanced>Home</a>

      <!-- <a href="./shopping.html" class="header-shopping header-shopping-off header-shopping-on btn" > Shopping list -->
      <a href="./shopping.html" class="header-shopping-btn" data-shopping-btn data-sign-advanced> Shopping list
        <svg class="header-shopping-logo" width="20" height="20" aria-label="shopping logo" >
          <use href="/src/images/sprite-header.svg#icon-uil_cart"></use>
        </svg>
      </a>
    </div>

    <!--swither and borger-menu -->

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox1"
        value="option1"
      />
      <button type="button" class="header-menu-open header-menu-open-shopping header-menu-open-user">
        <svg
          class="icon-menu-burger"
          width="28"
          height="28"
          aria-label="Switch-on mobile menu"
        >
          <use href="/src/images/sprite-header.svg#icon-align-left"></use>
        </svg>
      </button>

      <button type="button" class="header-menu-closed header-menu-closed-shopping header-menu-closed-user">
        <svg
          class="icon-menu-burger"
          width="28"
          height="28"
          aria-label="Switch-on mobile menu"
        >
          <use href="/src/images/sprite-header.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>

    <!-- button sign up -->
    
    <div class="header-sign-btn-wrapper">
      <div class="header-sign-btn" data-sign-base>
        <a href="#" class="header-sign-open header-sign-menu header-sign" > Sign up
          <svg class="icon-sign" width="20" height="20" aria-label="sign up">
            <use href="/src/images/sprite-header.svg#icon-arrow-narrow-right" ></use>
          </svg>
        </a>
      </div>

      <a href="#" class="header-sign-btn-signup hidden" data-sign-up>
        <div class="header-sign-btn-signup-user">
          <img class="header-sign-btn-signup-avatar" src="./images/avatar.svg" alt="User avatar">
          <div class="header-sign-btn-signup-username" data-sign-name>User</div>
        </div>
        <img class="header-sign-btn-advanced-openup" src="./images/open-up.svg" alt="Open up arrow">
      </a>

      <a href="#" class="header-sign-btn-logout hidden" data-sign-logout>
        <div class="header-sign-btn-logout-descr">Log out</div>
        <img class="header-sign-btn-logout-nextarrow" src="./images/next-arrow.svg" alt="Next arrow">
      </a>
    </div>

    <!-- <div class="header-user-btn">
      <button
        onclick="document.location='/src/partials/shopping-list.html'"
        class="user-name"
      >
        <svg
          class="header-icon-user"
          width="37"
          height="37"
          aria-label="images user "
        >
          <use href="/src/images/sprite-header.svg#icon-user"></use>
        </svg>
        Stephen
        <svg class="header-icon-us" width="23" height="26" aria-label="icon us">
          <use href="/src/images/sprite-header.svg#icon-fi-ss-caret-down"></use>
        </svg>
      </button>
    </div> -->
  </div>

  <!-- mobil menu SING UP -->



  <div class="header-menu">
    <div class="header-sign-menu">
      
    <div class="header-sign-menu-wrapper">

      <a href="#" class="header-sign-open-menu header-sign menuItem" data-sign-base> Sign up
        <svg class="icon-sign" width="20" height="20" aria-label="sign up">
          <use href="/src/images/sprite-header.svg#icon-arrow-narrow-right"></use>
        </svg>
      </a>

       <a href="#" class="header-sign-menu-signup hidden" data-sign-up>
        <div class="header-sign-menu-signup-user">
          <img class="header-sign-menu-signup-avatar" src="./images/avatar.svg" alt="User avatar">
          <div class="header-sign-menu-signup-username" data-sign-name>User</div>
        </div>
        <img class="header-sign-menu-advanced-openup" src="./images/open-up.svg" alt="Open up arrow">
      </a>

      <a href="#" class="header-sign-menu-logout hidden" data-sign-logout>
        <div class="header-sign-menu-logout-descr">Log out</div>
        <img class="header-sign-menu-logout-nextarrow" src="./images/next-arrow.svg" alt="Next arrow">
      </a>
</div>

   <div class="menu-nav">
      <!-- <a href="./index.html" class="header-home-off header-home-on btn">Home</a> -->
      <a href="./index.html" class="header-home-btn active" data-home-btn data-sign-advanced>Home</a>

      <!-- <a href="./shopping.html" class="header-shopping header-shopping-off header-shopping-on btn" > Shopping list -->
      <a href="./shopping.html" class="header-shopping-btn" data-shopping-btn data-sign-advanced> Shopping list
        <svg class="header-shopping-logo" width="20" height="20" aria-label="shopping logo" >
          <use href="/src/images/sprite-header.svg#icon-uil_cart"></use>
        </svg>
      </a>
    </div>


      <picture class="img-mobile-menu menuItem">
        <img src="/src/images/mobile-menu-books.png" alt="mobile menu books" width="375" height="443" />
      </picture>
    </div>
  </div>

  <!-- mobil menu HOME & SHOPPING-->

  <!-- <div class="header-menu-user">
    <div class="user-menu">
      <ul>
        <li class="user-home">
          <a href="./index.html" class="header-user-home">Home</a>
        </li>
        <li>
          <a href="./shopping.html" class="header-user-shopping">
            Shopping list
            <svg
              class="header-shopping-logo"
              width="20"
              height="20"
              aria-label="shopping logo"
            >
              <use href="/src/images/sprite-header.svg#icon-uil_cart-1"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="header-user-sing">
      <button type="button" class="header-log-user menu-item-user">
        Log out
        <svg class="icon-log-user" width="20" height="20" aria-label="sign up">
          <use
            href="/src/images/sprite-header.svg#icon-arrow-narrow-right"
          ></use>
        </svg>
      </button>
    </div>
    <picture class="img-user-mobile-menu">
      <img
        src="/src/images/mobile-menu-books.png"
        alt="mobile menu books"
        width="375"
        height="443"
      />
    </picture>
  </div> -->
  <!-- mobil menu HOME & SHOPPING-->

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
    crossorigin="anonymous"
  ></script>
  <script src="/src/js/header.js"></script>
  <script>
    $.switcher();
  </script>
  <script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"
  ></script>
  <script src="/src/js/mobile-menu.js"></script>
</header>

