<div class="backdrop hi-backdrop" data-modal>
    <div class="modal" id="modalWindow">
        <button type="button" class="modal-btn" data-action="close-modal">

            <img class="modal-icon" src='./images/icon.svg' alt="close" width="14" height="14" />
        </button>
        <div class="modal-content">
            <!-- відомості про книгу -->

        </div>

        <button type='button' class="openmodal-btn">Add to shopping list</button>

        <p class="modal-text">Сongratulations! You have added the book to the shopping list. To delete, press the button
            “Remove from the shopping
            list”.</p>
    </div>
</div>