
<button class="open-modal" data-action="open-modal">Open Modal</button>
<div class="backdrop hi-backdrop" data-modal>
    <div class="modal" id="modalWindow">
        <button type="button" class="modal-btn" data-action="close-modal">

            <img class="modal-icon" src='./img/icon.png' alt="close" width="14" height="14" />
        </button>
        <div class="modal-content">
            <!-- відомості про книгу -->
            <!-- <div class="modal-content-img">
                <img src="./img/image.png" alt="page" width="192" height="281" />
            </div>
            <div class="modal-content-text">
                <h2 class="modal-content-titl"><b>HELLO BEAUTIFUL</b></h2>
                <p class="modal-content-autur"><b>Author:Ann Napolitano</b></p>
                <p class="modal-content-abst"><b>Abstract:In a homage to Louisa May Alcott’s “Little Women,” a young
                        man’s dark past resurfaces as he gets to the know the family
                        of his college sweetheart.</b></p>
                <ul class="modal-link">
                    <li class="modal-link-icon">
                        <a href="https://www.amazon.com/" target="blank">

                            <img src="./img/amazon-1.png" alt="amazon" width="62" height="19" />
                        </a>
                    </li>
                    <li class="modal-link-icon">
                        <a href="https://www.apple.com/ua/apple-books/" target="blank">

                            <img src="./img/boock_2.png" alt="boock" width="33" height="32" />
                        </a>
                    </li>
                    <li class="modal-link-icon">
                        <a href="https://bookshop.org/" target="blank">

                            <img src="./img/newboock.png" alt="boock" width="38" height="36" />
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>

        <button type='button' class="openmodal-btn">Add to shopping list</button>
        
        <p class="modal-text">Сongratulations! You have added the book to the shopping list. To delete, press the button
            “Remove from the shopping
            list”.</p>
    </div>
</div>